<!-- Standard Lists -->
<div *ngFor="let config of listConfigs">
  <app-title [listconfig]="config"></app-title>
  <app-default-list
    [title]="config.title"
    [items]="config.dataSource"
    [size]="config.size"
    [bordered]="config.bordered ?? true"
    [split]="config.split ?? true"
  ></app-default-list>
</div>

<!--  Avatar List Section Below -->
<app-title [avatarConfig]="avatarTitleConfig"></app-title>
<app-default-list [avatarItems]="avatarList"  [split]="true"  itemLayout="vertical"> 
</app-default-list>


<!-- Vertical List Section (Antd style with avatar, actions, extra) -->
<app-title [verticalConfig]="verticalTitleConfig"></app-title>
<app-default-list
  [verticalItems]="verticalList"
  footer="ant design footer part"
  [bordered]="true"
  [split]="true"
  [pagination]="true"
  itemLayout="vertical"
/>



<!-- GRID -->
<app-title [settings]="listSettings1"></app-title>
<app-default-list [settings]="listSettings1"></app-default-list>

<app-title [settings]="listSettings2"></app-title>
<app-default-list [settings]="listSettings2"></app-default-list>

<!-- SCROLL -->
<app-title [data]="users" [title]="scrollTitleConfig.title"></app-title>
<app-default-list [data]="scrollTitleConfig.items" [scrollConfig]="scrollTitleConfig"></app-default-list>



<!-- VIRTUAL LIST -->
<app-title [config]="virtualListConfig"></app-title>
<app-default-list
  [config]="virtualListConfig"
></app-default-list>
