<ng-container>
  <!-- SIMPLE LIST -->
  <ng-container *ngIf="mode === 'simple'">
    <div class="list-wrapper" [ngClass]="size" [class.bordered]="bordered">
      <app-header-component (headerReady)="onHeaderMessage($event)" />
        <!-- List content from data component -->
      <app-data-component
      [items]="items"
      [size]="size"
      [split]="split"
      ></app-data-component>

      <hr *ngIf="split" class="footer-separator" />
    <app-footer-component (footerReady)="onFooterMessage($event)" />
    </div>
  </ng-container>

  <!-- AVATAR LIST -->
  <ng-container *ngIf="mode === 'avatar'">
    <section class="avatar-list-wrapper">
      <ul class="avatar-list-body">
        <app-avatar-list-item
        *ngFor="let item of avatarItems; let last = last"
        [item]="item"
        [hasSplit]="split && !last"
        [itemLayout]="itemLayout"> 
      </app-avatar-list-item>
      </ul>
    </section>
  </ng-container>
  
<!-- VERTICAL LIST -->
  <ng-container *ngIf="mode === 'vertical'">
    <section class="custom-list-wrapper" [class.custom-list-bordered]="bordered">
      <!-- The layout and wrapper stay here -->
      <app-vertical-list [items]="paginatedItems" [split]="split" [itemLayout]="itemLayout" />
  
      <!-- Reusable footer -->
      <app-footer-component
        [footer]="footer"
        [showPagination]="showPagination"
        [currentPage]="currentPage"
        [totalPages]="totalPages"
        (prev)="prevPage()"
        (next)="nextPage()"
        (pageChange)="currentPage = $event; updatePaginationCache()"
      />
    </section>
  </ng-container>
  
  <!-- GRID LIST -->
  <ng-container *ngIf="mode === 'grid' && settings?.items?.length">
    <section class="custom-list">
      <div class="custom-grid" [ngStyle]="gridStyle">
        <div class="custom-item" *ngFor="let entry of settings.items">
          <app-grid-list [entry]="entry"></app-grid-list>
        </div>
      </div>
    </section>
  </ng-container>
  

  <!-- SCROLL LIST -->
  <ng-container *ngIf="mode === 'scroll' && !!visibleItems?.length">
    <section class="list-wrapper-scroll">
      <div class="list-container-scroll" (scroll)="onScroll($event)">
        <app-scroll-list
        *ngFor="let item of visibleItems"
        [item]="item"
      ></app-scroll-list>

        <div *ngIf="loading">
          <div class="list-item-scroll" *ngFor="let i of [1, 2, 3]">
            <div class="avatar-wrapper">
              <div class="skeleton skeleton-avatar"></div>
            </div>
            <div class="text-wrapper">
              <div class="skeleton skeleton-line"></div>
              <div class="skeleton skeleton-line short"></div>
            </div>
            <div class="content-scroll">
              <div class="skeleton skeleton-line short"></div>
            </div>
          </div>
        </div>
        <div class="loading" *ngIf="!loading && currentIndex >= data.length">
          {{ scrollConfig?.endMessage }}
        </div>
      </div>
    </section>
  </ng-container>

  <!-- VIRTUAL LIST -->

<ng-container *ngIf="mode === 'virtual' && !!users?.length">
  <section class="ant-virtual-section">
    <div class="ant-toast" *ngIf="showNotification">
      {{ config.pageSize }} more users loaded!
    </div>
    <div
      class="ant-list-wrapper"
      (scroll)="loadMoreOnScroll($event)"
      [style.height.px]="config.containerHeight"
      style="overflow-y: auto;"
    >
    <app-virtual-list
    [users]="users"
    [config]="config"
  ></app-virtual-list>
  
    </div>
  </section>
</ng-container>

</ng-container>




 